@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


body{
       background-color: #111111;
        font-family: "Ubuntu", sans-serif !important;
        overflow: hidden;
}


main{
           background: #111111;
           color: #ffffff;
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 270px;
  height: 100vh;
  background: #0a0a0a;
  transition: all 0.4s ease;
}
.sidebar.collapsed {
  width: 85px;
}
.sidebar .sidebar-header {
  display: flex;
  position: relative;
  padding: 25px 20px;
  align-items: center;
  justify-content: space-between;
}
.sidebar-header .header-logo img {
  width: 46px;
  height: 46px;
  display: block;
  object-fit: cover;
  border-radius: 50%;
}
.sidebar-header .sidebar-toggler,
.sidebar-menu-button {
  position: absolute;
  right: 20px;
  height: 35px;
  width: 35px;
  color: #151A2D;
  border: none;
  cursor: pointer;
  display: flex;
  background: #EEF2FF;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  transition: 0.4s ease;
}
.sidebar.collapsed .sidebar-header .sidebar-toggler {
  transform: translate(-4px, 65px);
}
.sidebar-header .sidebar-toggler span,
.sidebar-menu-button span {
  font-size: 1.75rem;
  transition: 0.4s ease;
}
.sidebar.collapsed .sidebar-header .sidebar-toggler span {
  transform: rotate(180deg);
}
.sidebar-header .sidebar-toggler:hover {
  background: #d9e1fd;
}
.sidebar-nav .nav-list {
  list-style: none;
  display: flex;
  gap: 4px;
  padding: 0 15px;
  flex-direction: column;
  transform: translateY(15px);
  transition: 0.4s ease;
}
.sidebar .sidebar-nav .primary-nav {
  overflow-y: auto;
  scrollbar-width: thin;
  padding-bottom: 20px;
  height: calc(100vh - 227px);
  scrollbar-color: transparent transparent;
}
.sidebar .sidebar-nav .primary-nav:hover {
  scrollbar-color: #EEF2FF transparent;
}
.sidebar.collapsed .sidebar-nav .primary-nav {
  overflow: unset;
  transform: translateY(65px);
}
.sidebar-nav .nav-item .nav-link {
  color: #fff;
  display: flex;
  gap: 12px;
  white-space: nowrap;
  border-radius: 8px;
  padding: 11px 15px;
  align-items: center;
  text-decoration: none;
  border: 1px solid #151A2D;
  transition: 0.4s ease;
}
.sidebar-nav .nav-item:is(:hover, .open)>.nav-link:not(.dropdown-title) {
  color: #151A2D;
  background: #EEF2FF;
}
.sidebar .nav-link .nav-label {
  transition: opacity 0.3s ease;
}
.sidebar.collapsed .nav-link :where(.nav-label, .dropdown-icon) {
  opacity: 0;
  pointer-events: none;
}
.sidebar.collapsed .nav-link .dropdown-icon {
  transition: opacity 0.3s 0s ease;
}
.sidebar-nav .secondary-nav {
  position: absolute;
  bottom: 35px;
  width: 100%;
  background: #151A2D;
}
.sidebar-nav .nav-item {
  position: relative;
}
/* Dropdown Stylings */
.sidebar-nav .dropdown-container .dropdown-icon {
  margin: 0 -4px 0 auto;
  transition: transform 0.4s ease, opacity 0.3s 0.2s ease;
}
.sidebar-nav .dropdown-container.open .dropdown-icon {
  transform: rotate(180deg);
}
.sidebar-nav .dropdown-menu {
  height: 0;
  overflow-y: hidden;
  list-style: none;
  padding-left: 15px;
  transition: height 0.4s ease;
}
.sidebar.collapsed .dropdown-menu {
  position: absolute;
  top: -10px;
  left: 100%;
  opacity: 0;
  height: auto !important;
  padding-right: 10px;
  overflow-y: unset;
  pointer-events: none;
  border-radius: 0 10px 10px 0;
  background: #151A2D;
  transition: 0s;
}
.sidebar.collapsed .dropdown-menu:has(.dropdown-link) {
  padding: 7px 10px 7px 24px;
}
.sidebar.sidebar.collapsed .nav-item:hover>.dropdown-menu {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(12px);
  transition: all 0.4s ease;
}
.sidebar.sidebar.collapsed .nav-item:hover>.dropdown-menu:has(.dropdown-link) {
  transform: translateY(10px);
}
.dropdown-menu .nav-item .nav-link {
  color: #F1F4FF;
  padding: 9px 15px;
}
.sidebar.collapsed .dropdown-menu .nav-link {
  padding: 7px 15px;
}
.dropdown-menu .nav-item .nav-link.dropdown-title {
  display: none;
  color: #fff;
  padding: 9px 15px;
}
.dropdown-menu:has(.dropdown-link) .nav-item .dropdown-title {
  font-weight: 500;
  padding: 7px 15px;
}
.sidebar.collapsed .dropdown-menu .nav-item .dropdown-title {
  display: block;
}
.sidebar-menu-button {
  display: none;
}
/* NEW: Mobile open fix */
@media (max-width: 768px) {
 .sidebar.mobile-open {
  left: 0 !important;
}

  .sidebar.mobile-open {
    left: 0 !important;
    z-index: 999;
    transition: left 0.3s ease;
  }

  

  .sidebar-toggler {
    display: none;
  }

  .sidebar-menu-button {
    display: flex !important;
  }
}
main {
  transition: margin-left 0.3s ease;
  margin-left: 270px;
}

.sidebar.collapsed ~ main {
  margin-left: 70px;
}
.login_form{
  background-color: #0a0a0a;
} 
.my_form_control{
  
}